/*

    Name:       Base16 Codeschool Light
    Author:     brettof86

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/*
    Jupyter GLOBALS
*/

div.cell.edit_mode {
  border: thin #237986 solid !important;
}

.edit_mode div.cell.selected{
  border-color: #a03b1e;
}

.CodeMirror pre {
  font-family: 'Menlo', 'Ubuntu Mono', monospace;
  font-size: 12px;
}

div.cell.selected {
  border-color: #b02f30;
}

div.input_prompt {
  color: #484d79;
}

div.output_prompt {
  color: #2a5491;
}

/*
     GLOBALS
*/

span.ansiblack {color: #1c3657;}
span.ansiblue {color: #b02f30;}
span.ansigray {color: #84898c;}
span.ansigreen {color: #237986;}
span.ansipurple {color: #c59820;}
span.ansired {color: #2a5491;}
span.ansiyellow {color: #a03b1e;}

div.output_stderr {background-color: #2a5491;}
div.output_stderr pre {color: #a7cfa3;}

.cm-s-ipython.CodeMirror {background: #b5d8f6; color: #1c3657;}
.cm-s-ipython div.CodeMirror-selected {background: #a7cfa3 !important;}
.cm-s-ipython .CodeMirror-gutters {background: #b5d8f6; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #84898c;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #3f4944 !important;}

.cm-s-ipython span.cm-comment {color: #3f4944;}
.cm-s-ipython span.cm-atom {color: #c59820;}
.cm-s-ipython span.cm-number {color: #43820d;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #237986;}
.cm-s-ipython span.cm-keyword {color: #c59820;}
.cm-s-ipython span.cm-string {color: #237986;}
.cm-s-ipython span.cm-operator {color: #1c3657;}
.cm-s-ipython span.cm-builtin {color: #c59820;}

.cm-s-ipython span.cm-variable {color: #2a343a;}
.cm-s-ipython span.cm-variable-2 {color: #484d79;}
.cm-s-ipython span.cm-def {color: #43820d;}
.cm-s-ipython span.cm-error {background: #2a5491; color: #3f4944;}
.cm-s-ipython span.cm-bracket {color: #2a343a;}
.cm-s-ipython span.cm-tag {color: #2a5491;}
.cm-s-ipython span.cm-link {color: #c59820;}
.cm-s-ipython span.cm-meta {color: #2a5491;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #1c3657 !important;}
