/*

    Name:       Base16 Atelier Dune Dark
    Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/dune)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/*
    Jupyter GLOBALS
*/

div.cell.edit_mode {
  border: thin #60ac39 solid !important;
}

.edit_mode div.cell.selected{
  border-color: #cfb017;
}

.CodeMirror pre {
  font-family: 'Menlo', 'Ubuntu Mono', monospace;
  font-size: 12px;
}

div.cell.selected {
  border-color: #1fad83;
}

div.input_prompt {
  color: #6684e1;
}

div.output_prompt {
  color: #d73737;
}

/*
     GLOBALS
*/

span.ansiblack {color: #292824;}
span.ansiblue {color: #6684e1;}
span.ansigray {color: #999580;}
span.ansigreen {color: #60ac39;}
span.ansipurple {color: #b854d4;}
span.ansired {color: #d73737;}
span.ansiyellow {color: #cfb017;}

div.output_stderr {background-color: #20201d;}
div.output_stderr pre {color: #e8e4cf;}

.cm-s-ipython.CodeMirror {background: #20201d; color: #e8e4cf;}
.cm-s-ipython div.CodeMirror-selected {background: #292824 !important;}
.cm-s-ipython .CodeMirror-gutters {background: #292824; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #7d7a68;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #999580 !important;}

.cm-s-ipython span.cm-comment {color: #7d7a68;}
.cm-s-ipython span.cm-atom {color: #b854d4;}
.cm-s-ipython span.cm-number {color: #b65611;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #d73737;}
.cm-s-ipython span.cm-keyword {color: #b854d4;}
.cm-s-ipython span.cm-string {color: #60ac39;}
.cm-s-ipython span.cm-operator {color: #fefbec;}
.cm-s-ipython span.cm-builtin {color: #6684e1;}

.cm-s-ipython span.cm-variable {color: #e8e4cf;}
.cm-s-ipython span.cm-variable-2 {color: #6684e1;}
.cm-s-ipython span.cm-def {color: #cfb017;}
.cm-s-ipython span.cm-error {background: #d73737; color: #999580;}
.cm-s-ipython span.cm-bracket {color: #fefbec;}
.cm-s-ipython span.cm-tag {color: #d73737;}
.cm-s-ipython span.cm-link {color: #b854d4;}
.cm-s-ipython span.cm-meta {color: #d73737;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #e8e4cf !important;}
