/*

    Name:       Base16 Tomorrow Light
    Author:     Chris Kempson (http://chriskempson.com)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/*
    Jupyter GLOBALS
*/

div.cell.edit_mode {
  border: thin #b5bd68 solid !important;
}

.edit_mode div.cell.selected{
  border-color: #f0c674;
}

.CodeMirror pre {
  font-family: 'Menlo', 'Ubuntu Mono', monospace;
  font-size: 12px;
}

div.cell.selected {
  border-color: #8abeb7;
}

div.input_prompt {
  color: #81a2be;
}

div.output_prompt {
  color: #cc6666;
}

/*
     GLOBALS
*/

span.ansiblack {color: #282a2e;}
span.ansiblue {color: #8abeb7;}
span.ansigray {color: #b4b7b4;}
span.ansigreen {color: #b5bd68;}
span.ansipurple {color: #b294bb;}
span.ansired {color: #cc6666;}
span.ansiyellow {color: #f0c674;}

div.output_stderr {background-color: #cc6666;}
div.output_stderr pre {color: #e0e0e0;}

.cm-s-ipython.CodeMirror {background: #ffffff; color: #282a2e;}
.cm-s-ipython div.CodeMirror-selected {background: #e0e0e0 !important;}
.cm-s-ipython .CodeMirror-gutters {background: #ffffff; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #b4b7b4;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #969896 !important;}

.cm-s-ipython span.cm-comment {color: #969896;}
.cm-s-ipython span.cm-atom {color: #b294bb;}
.cm-s-ipython span.cm-number {color: #de935f;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #b5bd68;}
.cm-s-ipython span.cm-keyword {color: #b294bb;}
.cm-s-ipython span.cm-string {color: #b5bd68;}
.cm-s-ipython span.cm-operator {color: #282a2e;}
.cm-s-ipython span.cm-builtin {color: #b294bb;}

.cm-s-ipython span.cm-variable {color: #373b41;}
.cm-s-ipython span.cm-variable-2 {color: #81a2be;}
.cm-s-ipython span.cm-def {color: #de935f;}
.cm-s-ipython span.cm-error {background: #cc6666; color: #969896;}
.cm-s-ipython span.cm-bracket {color: #373b41;}
.cm-s-ipython span.cm-tag {color: #cc6666;}
.cm-s-ipython span.cm-link {color: #b294bb;}
.cm-s-ipython span.cm-meta {color: #cc6666;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #282a2e !important;}
