/*

    Name:       Base16 Atelier Heath Dark
    Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/heath)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/*
    Jupyter GLOBALS
*/

div.cell.edit_mode {
  border: thin #379a37 solid !important;
}

.edit_mode div.cell.selected{
  border-color: #bb8a35;
}

.CodeMirror pre {
  font-family: 'Menlo', 'Ubuntu Mono', monospace;
  font-size: 12px;
}

div.cell.selected {
  border-color: #159393;
}

div.input_prompt {
  color: #516aec;
}

div.output_prompt {
  color: #ca402b;
}

/*
     GLOBALS
*/

span.ansiblack {color: #292329;}
span.ansiblue {color: #516aec;}
span.ansigray {color: #9e8f9e;}
span.ansigreen {color: #379a37;}
span.ansipurple {color: #7b59c0;}
span.ansired {color: #ca402b;}
span.ansiyellow {color: #bb8a35;}

div.output_stderr {background-color: #1b181b;}
div.output_stderr pre {color: #d8cad8;}

.cm-s-ipython.CodeMirror {background: #1b181b; color: #d8cad8;}
.cm-s-ipython div.CodeMirror-selected {background: #292329 !important;}
.cm-s-ipython .CodeMirror-gutters {background: #292329; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #776977;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #9e8f9e !important;}

.cm-s-ipython span.cm-comment {color: #776977;}
.cm-s-ipython span.cm-atom {color: #7b59c0;}
.cm-s-ipython span.cm-number {color: #a65926;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #ca402b;}
.cm-s-ipython span.cm-keyword {color: #7b59c0;}
.cm-s-ipython span.cm-string {color: #379a37;}
.cm-s-ipython span.cm-operator {color: #f7f3f7;}
.cm-s-ipython span.cm-builtin {color: #516aec;}

.cm-s-ipython span.cm-variable {color: #d8cad8;}
.cm-s-ipython span.cm-variable-2 {color: #516aec;}
.cm-s-ipython span.cm-def {color: #bb8a35;}
.cm-s-ipython span.cm-error {background: #ca402b; color: #9e8f9e;}
.cm-s-ipython span.cm-bracket {color: #f7f3f7;}
.cm-s-ipython span.cm-tag {color: #ca402b;}
.cm-s-ipython span.cm-link {color: #7b59c0;}
.cm-s-ipython span.cm-meta {color: #ca402b;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #d8cad8 !important;}
