/*

    Name:       Base16 Google Light
    Author:     Seth Wright (http://sethawright.com)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/*
    Jupyter GLOBALS
*/

div.cell.edit_mode {
  border: thin #198844 solid !important;
}

.edit_mode div.cell.selected{
  border-color: #FBA922;
}

.CodeMirror pre {
  font-family: 'Menlo', 'Ubuntu Mono', monospace;
  font-size: 12px;
}

div.cell.selected {
  border-color: #3971ED;
}

div.input_prompt {
  color: #3971ED;
}

div.output_prompt {
  color: #CC342B;
}

/*
     GLOBALS
*/

span.ansiblack {color: #282a2e;}
span.ansiblue {color: #3971ED;}
span.ansigray {color: #b4b7b4;}
span.ansigreen {color: #198844;}
span.ansipurple {color: #A36AC7;}
span.ansired {color: #CC342B;}
span.ansiyellow {color: #FBA922;}

div.output_stderr {background-color: #CC342B;}
div.output_stderr pre {color: #e0e0e0;}

.cm-s-ipython.CodeMirror {background: #ffffff; color: #282a2e;}
.cm-s-ipython div.CodeMirror-selected {background: #e0e0e0 !important;}
.cm-s-ipython .CodeMirror-gutters {background: #ffffff; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #b4b7b4;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #969896 !important;}

.cm-s-ipython span.cm-comment {color: #969896;}
.cm-s-ipython span.cm-atom {color: #A36AC7;}
.cm-s-ipython span.cm-number {color: #F96A38;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #198844;}
.cm-s-ipython span.cm-keyword {color: #A36AC7;}
.cm-s-ipython span.cm-string {color: #198844;}
.cm-s-ipython span.cm-operator {color: #282a2e;}
.cm-s-ipython span.cm-builtin {color: #A36AC7;}

.cm-s-ipython span.cm-variable {color: #373b41;}
.cm-s-ipython span.cm-variable-2 {color: #3971ED;}
.cm-s-ipython span.cm-def {color: #F96A38;}
.cm-s-ipython span.cm-error {background: #CC342B; color: #969896;}
.cm-s-ipython span.cm-bracket {color: #373b41;}
.cm-s-ipython span.cm-tag {color: #CC342B;}
.cm-s-ipython span.cm-link {color: #A36AC7;}
.cm-s-ipython span.cm-meta {color: #CC342B;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #282a2e !important;}
